body {
    font-family: 'Vazir', sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    right: -250px;
}

#sidebar.active {
    right: 0;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-right: 0;
}

#content.active {
    margin-right: 250px;
}

#sidebar .list-unstyled.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #343a40;
    background: #fff;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.card-header.bg-success {
    background-color: #00AB64 !important;
}

.btn-outline-primary {
    color: #000;
    background-color: #DCDCDC;
    border-color: #DCDCDC;
}

.btn-outline-primary:hover {
    color: #000;
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

/* Responsive styles */
@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    #content {
        margin-right: 0;
    }
    #content.active {
        margin-right: 250px;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-right: 30px !important;
    background: #2c3136;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4b545c;
}